<div class="w-full border flex flex-col rounded mb-4">
    <div class="flex justify-between border-b rounded p-4 w-full">
        <div class="flex items-center">
            <img class="rounded-full w-12 h-12 mr-4" 
            src="{{#if user.avatar}}{{user.avatar}}{{else}}images/avatar.png{{/if}}"
            alt="user-avatar">
            
            <div>
                <div>
                    {{user.name}}
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-end">
            <div class="flex justify-end">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div>{{this.time}} 7 hour ago</div>
        </div>
    </div>
    <div class="pl-8 pr-8 pt-4 pb-8 h-52 overflow-auto">
        {{this.content}} abc
    </div>
    <div class="flex justify-between pl-8 pr-8">
        <div class="flex items-center m-8 cursor-pointer rounded border-gray-400 w-36 text-xl">
            <div class="w-4">
                <i class="fa-solid fa-comment"></i>
            </div>
            <div class="ml-4"> Comment </div>
        </div>
        <div class="m-8 text-3xl">
            <i class="fa-solid fa-thumbs-up"></i>
        </div>
    </div>
</div>