<div class="flex flex-col border rounded-lg overflow-hidden">

    <!-- Cover Photo -->
    <img 
        class="h-24 w-full object-cover"
        src="{{#if user.cover_photo}}{{user.cover_photo}}{{else}}/images/cover.png{{/if}}" 
        alt="cover-photo"
    />

    <!-- Avatar -->
    <img 
        class="h-16 w-16 rounded-full -mt-8 ml-8 border border-white"
        src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/avatar.png{{/if}}"
        alt="user-avatar"
    />

    <!-- User Name -->
    <div class="ml-8 mt-4 font-medium username">
        {{user.name}}
    </div>

    <!-- Navigation Links -->
    <div class="flex flex-col justify-between mt-8 ml-8 mb-4">
        <div class="flex items-center p-2 cursor-pointer rounded border-b border-gray-400 w-36 max-w-48">
            <div class="w-4">
                <i class="fa-solid fa-house"></i>
            </div>
            <a href="/" class="ml-4">Home</a>
        </div>
        <div class="flex items-center p-2 cursor-pointer rounded border-b border-gray-400 w-36 max-w-48">
            <div class="w-4">
                <i class="fa-solid fa-user"></i>
            </div>
            <a href="/users/profile" class="ml-4">Profile</a>
        </div>
        <div class="flex items-center p-2 cursor-pointer rounded border-b border-gray-400 w-36 max-w-48">
            <div class="w-4">
                <i class="fa-solid fa-comment"></i>
            </div>
            <a href="/message" class="ml-4">Message</a>
        </div>
        <div class="flex items-center p-2 cursor-pointer rounded border-b border-gray-400 w-36 max-w-48">
            <div class="w-4">
                <i class="fa-solid fa-bell"></i>
            </div>
            <a href="/notification" class="ml-4">Notification</a>
        </div>
        <div class="flex items-center p-2 cursor-pointer rounded border-b border-gray-400 w-36 max-w-48">
            <div class="w-4">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <a href="/friends" class="ml-4">Friends</a>
        </div>
    </div>
</div>
