{{!-- filepath: /e:/Hoc/Subjects on school/NMCNPM/Project/Source/Penet/views/partials/sideMenu.hbs --}}
<div class="relative z-30">
    <button id="toggleBtnSideMenu" class="md:hidden p-2 m-2 border rounded focus:outline-none w-9">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div id="sideMenu" class="small-menu hidden md:static md:block flex flex-col border rounded-lg overflow-hidden min-w-[12rem] w-[16vw] bg-white">
        <!-- Cover Photo -->
        <img class="h-24 w-full object-cover"
            src="{{#if user.cover_photo}}{{user.cover_photo}}{{else}}/images/cover.png{{/if}}" alt="cover-photo" />

        <!-- Avatar Wrapper -->
        <div class="relative -mt-8 ml-8">
            <div class="border-[3px] border-black rounded-full h-[65px] w-[64px]">
                <img class="h-[60px] w-[60px] rounded-full border-[3px] border-white image-avatar"
                    src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/avatar.png{{/if}}" alt="user-avatar" />
            </div>
        </div>

        <!-- User Name -->
        <div class="ml-8 mt-4 font-medium fullName">
            {{user.first_name}} {{user.last_name}}
        </div>

        <p id="user_id" class="hidden">{{user.id}}</p>

        <!-- Navigation Links -->
        <div class="flex flex-col justify-between mt-8 mb-4 space-y-2 px-4">
            <a href="/" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'home')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-house"></i>
                </div>
                <span class="ml-4">Home</span>
            </a>
            <a href="/users/profile/{{user.id}}" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'profile')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-user"></i>
                </div>
                <span class="ml-4">Profile</span>
            </a>
            <a href="/conversations" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'message')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-comment"></i>
                </div>
                <span class="ml-4">Message</span>
            </a>
            <a href="/notification" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'notification')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <span class="ml-4">Notification</span>
            </a>
            <a href="/users/friends" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'friends')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <span class="ml-4">Friends</span>
            </a>
            <a href="/users/block" class="flex items-center p-2 cursor-pointer rounded border border-gray-400 hover:bg-gray-200 {{#if (eq currentTab 'block')}}bg-gray-300{{/if}}">
                <div class="w-4">
                    <i class="fa-solid fa-ban"></i>
                </div>
                <span class="ml-4">Block List</span>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#toggleBtnSideMenu').click(function(e) {
            e.stopPropagation();
            $('.small-menu:not(#sideMenu)').addClass('hidden');
            $('.small-menu:not(#sideMenu)').removeClass('absolute');

            $('#sideMenu').toggleClass('hidden');
            $('#sideMenu').toggleClass('absolute');
        });
        $(document).on('click', function(e) {
            if (!$(e.target).closest('#sideMenu').length) {
                if($('#sideMenu').hasClass('hidden')) {
                    return;
                }
                $('#sideMenu').toggleClass('hidden');
                $('#sideMenu').toggleClass('absolute');
            }
        })
    })
</script>