<body>
  <!-- Header Section -->
  {{> header}}

  <div class="m-10 flex">
    <!-- SideMenu -->
    <div class="mr-6 min-w-[16rem] w-64 flex-shrink-0 flex flex-col">
      <div>
        {{> sideMenu user=user}}
      </div>
    </div>
    
    <div class="flex-1 bg-white shadow-md rounded-lg p-6">
        <div class="flex">
            <div class="w-full pl-6">
                <!-- Requests Section -->
                <div class="w-full flex flex-row justify-between items-center mt-4 mb-4 border-b border-[#DFE2E8]">
                <!-- Your Friends Title -->
                <h3 class="w-1/2 text-center text-sm font-semibold text-[#000000]" id="show-friends">Your Friends</h3>

                <!-- Requests Title -->
                <h3 class="w-1/2 text-center text-sm font-normal text-[#313131]" id="show-requests">Requests</h3>
            </div>

            <!-- Danh sách yêu cầu kết bạn (ban đầu ẩn) -->
            <div class="space-y-6 hidden" id="request-list">
                <!-- Các yêu cầu kết bạn ở đây -->
                {{#each friendRequests}}
                  <div class="bg-gray-50 p-4 border rounded-lg shadow-md" id="{{this.id}}">
                      <img src="{{this.avatar_url}}" alt="Alice Smith" class="w-20 h-20 rounded-full mb-3 mx-auto">
                      <h3 class="font-medium text-center mb-2">{{this.first_name}} {{this.last_name}}</h3>
                          <div class="flex space-x-4">
                              <button class="w-full py-2 bg-[#AD49E1] text-white rounded-md hover:bg-[#AD49E1]">Add friend</button>
                              <button class="w-full py-2 bg-[#DFE2E8] text-black rounded-md hover:bg-[#DFE2E8]">Remove</button>
                          </div>
                      </div>
                      <!-- Thêm các yêu cầu kết bạn khác tại đây -->
                      {{/each}}
                  </div>

                <!-- Danh sách bạn bè -->
                <div class="space-y-6 " id="friends-list">
                    <!-- Các bạn bè sẽ được hiển thị ở đây -->
                    {{#each friends}}
                      <div class="flex flex-row bg-gray-50 p-4 border rounded-lg shadow-md" id="{{this.id}}">
                          <img src="{{this.avatar_url}}" alt="Alice Smith" class="w-20 h-20 rounded-full mb-3">
                          <div class="flex flex-col items-start gap-2 relative flex-1 grow">
                              <div class="relative w-[248px] mt-6 pl-3 font-[Inter-Medium] font-medium text-[20px] leading-normal ">{{this.first_name}} {{this.last_name}}</div>
                              <div class="relative w-fit pl-3 font-normal text-[#B0B0B0] text-[14px] tracking-normal leading-normal whitespace-nowrap">You are now friends</div>
                          </div>
                          <img src="/images/bacham.png" class="w-20 h-20">
                      </div>
                    {{/each}}
                    <!-- Thêm các bạn bè khác tại đây -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/friendList.js"></script>
