{{> header}}

<div class="flex h-screen m-10">
  {{!-- Sidebar --}}
  <div class="mr-6 min-w-[16rem] w-64 flex-shrink-0 flex flex-col">
    <div>
      {{> sideMenu user=user}}
    </div>
    <div class="mt-4">
      {{> groups user=user}}
    </div>
  </div>

  {{!-- Main Content --}}
  <main class="w-3/4 px-6 py-4 flex space-x-4">
    {{!-- Notifications Section --}}
    <section class="w-2/3 bg-white rounded-lg shadow p-4">
      <h1 class="text-lg font-bold mb-4">Notifications</h1>
      <ul class="divide-y divide-gray-200">
        {{#each notifications}}
          <li class="py-3 flex items-start">
            <img src="{{this.profileImage}}" alt="{{this.name}}" class="w-10 h-10 rounded-full mr-4">
            <div>
              <p>
                <span class="font-semibold">{{this.name}}</span><br>
                {{this.message}}
              </p>
              {{#if (eq this.type "birthday")}}
                <p class="text-sm text-gray-500"><i class="fa fa-birthday-cake"></i></p>
              {{else}}
                <p class="text-sm text-gray-500">{{timeAgo this.createdAt}}</p>
              {{/if}}
            </div>
          </li>
          <hr class="my-2 border-gray-300">
        {{/each}}
      </ul>
    </section>

    {{!-- Suggested Friends Section --}}
    {{> suggestedFriends}}
  </main>
</div>