{{!-- search.hbs --}}
{{> header}}

<div class="flex">
  {{!-- Sidebar --}}
  <div class="min-w-[16rem] w-64 flex-shrink-0 flex flex-col m-6">
    <div>
      {{> sideMenu user=user}}
    </div>
    <div class="mt-4">
      {{> groups user=user}}
    </div>
  </div>

  {{!-- Main Content --}}
    <main class="flex-grow px-6 py-4">
        <div class="mb-6">
            <h1 class="text-2xl font-bold">Results for "{{query}}"</h1>
        </div>
        <ul class="space-y-4">
            {{#each results}}
            <li class="flex items-center justify-between p-4 border-b border-gray-300">
                <div class="flex items-center">
                <img src="{{this.avatar_url}}" alt="{{this.first_name}} {{this.last_name}}" class="w-16 h-16 rounded-full mr-4">
                <div>
                    <p class="text-xl font-semibold">{{this.first_name}} {{this.last_name}}</p>
                </div>
                </div>
                <button class="add-friend-btn bg-green-500 text-white px-4 py-2 rounded text-lg" data-id="{{this.id}}">Add Friend</button>
            </li>
            {{/each}}
        </ul>
    </main>
</div>

<script>
  $(document).ready(() => {
    $('.add-friend-btn').on('click', function() {
      const userId = $(this).data('id');
      // Add friend logic here
      alert('Friend request sent to user ID: ' + userId);
    });
  });
</script>