{{!-- search.hbs --}}
{{> header}}

<div class="flex">
  {{!-- Sidebar --}}
  <div class="flex-shrink-0 flex flex-col m-6">
    <div>
      {{> sideMenu user=user}}
    </div>

  </div>

  {{!-- Main Content --}}
  <main class="flex-grow px-6 py-4">
    <div class="mb-6">
      <h1 class="text-2xl font-bold">Results for "{{query}}"</h1>
    </div>
    <div class="flex-1 p-6">
      <div class="bg-white rounded-lg shadow">
        <table class="w-full text-left">
          <thead>
            <tr class="border-b">
              <th class="py-4 text-gray-500 text-center">Name</th>
              <th class="py-4 text-gray-500 text-center">Status</th>
              {{#if user.isAdmin}}
              <th class="py-4 text-gray-500 text-center">Admin Action</th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each results}}
            <tr class="border-b">
              <td class="py-4 text-center flex items-center justify-center">
                <a href="/users/profile/{{this.id}}" class="flex items-center">
                  <img src="{{this.avatar_url}}" alt="Avatar" class="w-10 h-10 rounded-full mr-4">
                  <span>{{this.first_name}} {{this.last_name}}</span>
                </a>
              </td>
              <td class="py-4 text-center">
                {{#if this.isFriend}}
                  <button class="bg-blue-500 text-white px-4 py-2 rounded text-lg w-32" data-id="{{this.id}}">Friend</button>
                {{else}}
                  {{#if this.pendingRequest}}
                    <button class="bg-yellow-500 text-white px-4 py-2 rounded text-md w-32" data-id="{{this.id}}">Request Sent</button>
                  {{else}}
                    <button class="add-friend-btn bg-green-500 text-white px-4 py-2 rounded text-lg w-32" data-id="{{this.id}}">Add Friend</button>
                  {{/if}}
                {{/if}}
              </td>
              {{#if ../user.isAdmin}}
              <td class="py-4 text-center">
                <button class="delete-user-btn bg-red-500 text-white px-4 py-2 rounded text-lg" data-id="{{this.id}}">Delete User</button>
                {{#if this.isBanned}}
                  <button class="unban-user-btn bg-yellow-500 text-white px-4 py-2 rounded text-lg" data-id="{{this.id}}">Unban</button>
                {{else}}
                  <button class="ban-user-btn bg-red-500 text-white px-4 py-2 rounded text-lg" data-id="{{this.id}}">Ban</button>
                {{/if}}
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<script type="module">
  import { sendNotification } from "/js/notification.js";

  $(document).ready(() => {
    $(document).on('click', '.add-friend-btn', function() {
      const userId = $(this).data('id');
      const button = $(this);
      $.ajax({
        url: '/users/send-request-friend/' + userId,
        method: 'POST',
        success: function(response) {
          sendNotification("success", "Friend request sent successfully");
          button.removeClass('bg-green-500 add-friend-btn text-lg').addClass('bg-yellow-500 text-md').text('Request Sent');
        },
        error: function(error) {
          sendNotification("error", "Error sending friend request");
        }
      });
    });

    $(document).on('click', '.delete-user-btn', async function() {
      const userId = $(this).data('id');
      if (confirm('Are you sure you want to delete this user?')) {
        try {
          const response = await fetch(`/users/${userId}`, {
            method: 'DELETE',
          });
          if (response.ok) {
            sendNotification("success", "User deleted successfully");
            location.reload();
          } else {
            sendNotification("error", "Error deleting user");
          }
        } catch (error) {
          sendNotification("error", "Error deleting user");
        }
      }
    });

    $(document).on('click', '.ban-user-btn', async function() {
      const userId = $(this).data('id');
      if (confirm('Are you sure you want to ban this user?')) {
        try {
          const response = await fetch(`/users/ban/${userId}`, {
            method: 'POST',
          });
          if (response.ok) {
            sendNotification("success", "User banned successfully");
            location.reload();
          } else {
            sendNotification("error", "Error banning user");
          }
        } catch (error) {
          sendNotification("error", "Error banning user");
        }
      }
    });

    $(document).on('click', '.unban-user-btn', async function() {
      const userId = $(this).data('id');
      if (confirm('Are you sure you want to unban this user?')) {
        try {
          const response = await fetch(`/users/unban/${userId}`, {
            method: 'POST',
          });
          if (response.ok) {
            sendNotification("success", "User unbanned successfully");
            location.reload();
          } else {
            sendNotification("error", "Error unbanning user");
          }
        } catch (error) {
          sendNotification("error", "Error unbanning user");
        }
      }
    });
  });
</script>